/* -------------------------------
   Global Reset + Base Styles
--------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  background-color: var(--light);
  color: var(--text);
  line-height: 1.6;
  font-size: 16px;
  scroll-behavior: smooth;
}

/* Links */

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease;
}

a:hover {
  color: var(--primary);
}

/* Lists */

ul {
  list-style: none;
}

/* Images */
img {
  max-width: 100%;
  display: block;
}

/* Buttons */
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

/* Forms */
input, textarea, select {
  font-family: inherit;
  font-size: 1rem;
  border-radius: var(--radius);
}

/* Containers */
.container {
  width: 90%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--spacing-sm) 0;
}
